@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root{
    --main-bg-color: #2874f0;
    
  }

*{
    padding: 0;
    margin: 0;
}
header{
    background: var(--main-bg-color); 
    font-family: 'Lato', sans-serif;
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none; 
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{ 
    font-weight: bolder;
}

.search{
    display: flex;
    align-items: center;

}

.search input{
    
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding:8px 41px;
   
}

.search i {
    display: flex;
    margin: -64px;
     padding: 23px

}


  

.slider{ 
    
    height: 31vw;
    width: 99vw;

    display: flex;
    justify-content: center;
    margin: 12px auto;
    position: relative;
    
  
    
  
}




.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
}

.cards{
    display: flex; 
    overflow: hidden;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.card h2{
    font-family: 'Lato', sans-serif;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}

.btn-left{
    position: absolute;
    top: 40%;
     left : 30px ;
     background-color: #3cbff8 ;
    
     transform:translate(-6%,-28%);
     border: 0.2rem solid #3cbff8 ;
     font-size: 3.5rem;
     padding: 1rem;
     cursor: pointer;

    }


.btn-right{
    position: absolute;
    top: 40%;
     right : 30px ;
     background-color: #3cbff8 ;
    
     transform:translate(-6%,-28%);
     border: 0.2rem solid #3cbff8 ;
     font-size: 3.5rem;
     padding: 1rem;
     cursor: pointer;

    }    
.about{
    margin-left: 2vw;
    padding: 5vh;
}

.about1{
    margin-left: 2vw;
    padding: 5vh;
}

.about2{
    margin-left: 2vw;
    padding: 5vh;
}

footer{
    height:5vh;
    background-color: var(--main-bg-color); 
    color: white;
    font-family: 'Lato', sans-serif;
}
footer{
    padding: 50px;
    display: flex;
    justify-content: center;
}